/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Estilos del header*/
.nav-fondo {
  background-color: aqua; }

/* Estilos del main*/
.stalyMainOne {
  height: 70vh;
  display: grid;
  grid-template-columns: 0.25fr; }

.imagen {
  width: 100%;
  height: 50%;
  object-fit: cover; }

.titulo {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

h2 {
  font-style: italic;
  text-align: center; }

span {
  display: block;
  font-style: italic;
  text-align: center; }


  /* mq de tablet de la pagina de Productos*/

@media screen and (min-width: 600px) {

    .ejMq {
        background-color: black;
    }
    .mainProductos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 50%)
    }

    .esquemaUno{
        grid-column: span 1;
        
    }
    .esquemaDos, .esquemaTre{
        grid-template-rows: span 2;
    }
}
@media screen and (min-width: 600px) {
    .ejMq {
    background-color: rgb(8, 8, 8);
}
    .mainProductos{
    grid-template-columns: 3fr 3fr 3fr;
   
}
    .esquemaUno, .esquemaDos , .esquemaTres {
    grid-column: span 1;
}
}

/* Mq del desktop*/
@media screen and (min-width: 600px) {

    
    }
    .mainNosotros{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 50%)
    }

    .esquemaOne{
        grid-column: span 1;
        
    }
    .esquemaTwo, .esquemaThree{
        grid-template-rows: span 2;
    }

@media screen and (min-width: 600px) {
    
}
    .mainNosotros{
    grid-template-columns: 3fr 3fr 3fr;
   
}
    .esquemaUno, .esquemaDos , .esquemaTres {
    grid-column: span 1;
}